<form name="form" ng-submit="ctrl.save()" novalidate>
    <div class="form-body">
        <div class="row">
            <!-- referenciaPasivo -->
            <div class="col-sm-4 form-group">
                <div class="form-group">
                    <label-form key="admin.citaPrototexto.form.referenciaPasivo" for="referenciaPasivo" required="true"></label-form>
                    <input class="form-control" id="referenciaPasivo" ng-model="ctrl.item.referenciaPasivo" required>
                </div>
            </div>

            <!-- autorCitado -->
            <div class="col-sm-3 form-group">
                <div class="form-group">
                    <label-form key="admin.citaPrototexto.form.autorCitado" for="autorCitado"></label-form>
                    <input class="form-control" id="autorCitado" ng-model="ctrl.item.autorCitado">
                </div>
            </div>
        </div>

        <div class="row">
            <!-- año de la citaPrototexto-->
            <div class="col-sm-3 form-group">
                <div class="form-group">
                    <label-form key="admin.citaPrototexto.form.anoCitado" for="anoCitado"></label-form>
                    <input class="form-control" type="number" id="anoCitado" ng-model="ctrl.item.anoCitado">
                </div>
            </div>

            <!--Página de inicio de la citaPrototexto -->
            <div class="col-sm-4 form-group">
                <div class="form-group">
                    <label-form key="admin.citaPrototexto.form.paginaIniCitado" for="paginaIniCitado"></label-form>
                    <input class="form-control" type="number" id="paginaIniCitado" ng-model="ctrl.item.paginaIniCitado">
                </div>
            </div>

            <!--Página de fin de la citaPrototexto -->
            <div class="col-sm-4 form-group">
                <div class="form-group">
                    <label-form key="admin.citaPrototexto.form.paginaFinCitado" for="paginaFinCitado"></label-form>
                    <input class="form-control" type="number" id="paginaFinCitado" ng-model="ctrl.item.paginaFinCitado">
                </div>
            </div>

        </div>

        <!--Botones-->
        <buttons can-save="ctrl.canSave" mode="ctrl.mode"></buttons>
    </div>
</form>
