<form name="form" ng-submit="ctrl.save()" novalidate>
    <div class="form-body">

        <div class="row">
            <!--Nombre-->
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label-form key="admin.funcionAgente.form.nombre" for="nombre" required="true"></label-form>
                    <input class="form-control" id="nombre" ng-model="ctrl.item.nombre" required>
                </div>
            </div>
            <!--Nombre GL-->
            <!--
            <div class="col-md-4">
                <div class="form-group">
                    <label-form key="admin.funcionAgente.form.nombregl" for="nombregl" required="true"></label-form>
                    <input class="form-control" id="nombregl" ng-model="ctrl.item.nombreGl" required>
                </div>
            </div>
            -->
            <!--Nombre EN-->
            <!--
            <div class="col-md-4">
                <div class="form-group">
                    <label-form key="admin.funcionAgente.form.nombreen" for="nombreen" required="true"></label-form>
                    <input class="form-control" id="nombreen" ng-model="ctrl.item.nombreEn" required>
                </div>
            </div>
            -->
        </div>

        <!--Botones-->
        <buttons can-save="ctrl.canSave" mode="ctrl.mode"></buttons>
    </div>
</form>

