<div class="btn-ctrl">
    <a class="btn btn-primary btn-crear  crear" ui-sref="admin/citaPrototexto-periodico/create">
        <span translate="admin.citaPrototexto.create.title"></span>
    </a>
</div>

<filter filter="ctrl.filter.key"></filter>
<div class="total-elementos">    <label>{{'admin.total-elementos' | translate}}: {{ctrl.tableParams.total()}}</label></div><div class="table-responsive">

    <table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped table-hover" class="ng-cloak">

        <tr ng-repeat="element in $data track by element.id" class="animate">

            <td data-title="'admin.citaPrototexto.form.referenciaCita' | translate" sortable="'referenciaPasivo'">
                <a ui-sref="admin/citaPrototexto-periodico/edit({id: element.id})" title="{{'admin.form.button.edit' | translate}}">
                    {{element.referenciaPasivo}}
                </a>
            </td>

            <td data-title="'admin.citaPrototexto.form.autorCitado' | translate" sortable="'autorCitado'">
                <a ui-sref="admin/citaPrototexto-periodico/edit({id: element.id})" title="{{'admin.form.button.edit' | translate}}">
                    {{element.autorCitado}}
                </a>
            </td>


            <td data-title="'admin.citaPrototexto.form.anoCitado' | translate" sortable="'autorCitado'">
                {{element.anoCitado}}
            </td>

            <td data-title="'admin.citaPrototexto.form.paginaIniCitado' | translate" sortable="'autorCitado'">
                {{element.paginaIniCitado}}
            </td>

            <td data-title="'admin.citaPrototexto.form.paginaFinCitado' | translate" sortable="'autorCitado'">
                {{element.paginaFinCitado}}
            </td>

            <td class="col-md-1 text-center button-icons">
                <a ui-sref="admin/citaPrototexto/edit({id: element.id})" class="button glyphicon glyphicon-pencil"
                   title="{{'admin.form.button.edit' | translate}}"></a>
                <a ng-click="ctrl.showRemoveConfirmation(element.id)" class="button glyphicon glyphicon-remove"
                   title="{{'admin.form.button.delete' | translate}}"></a>
            </td>

        </tr>
    </table>
</div>
<loading is-loading="ctrl.loading" class="center-block"></loading>
