<!--
Created by hlorenzo on 05/09/2017.
 -->

<div class="btn-ctrl">
    <a class="btn btn-primary btn-crear  crear" ui-sref="admin/agente/create">
        <span translate="admin.agente.create.title"></span>
    </a>
</div>

<filter filter="ctrl.filter.key"></filter>
<div class="total-elementos">
    <label>{{'admin.total-elementos' | translate}}: {{ctrl.tableParams.total()}}</label>
</div>
<div class="table-responsive">
    <table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped table-hover"
           class="ng-cloak">

        <tr ng-repeat="element in $data track by element.id" class="animate">

            <!-- Muestro el nombre del agente -->
            <td data-title="'admin.agente.form.nombre' | translate" sortable="'nombre'" class="col-md-5">
                <a ui-sref="admin/agente/edit({id: element.id})" title="{{'admin.form.button.edit' | translate}}">
                    {{element.nombre}}
                </a>
            </td>

            <!-- Muestro el nombre de la agente -->
            <td data-title="'admin.agente.form.apellidos' | translate" sortable="'apellidos'" class="col-md-5">
                <a ui-sref="admin/agente/edit({id: element.id})" title="{{'admin.form.button.edit' | translate}}">
                    {{element.apellidos}}
                </a>
            </td>


            <!-- Muestro los botones para editar / eliminar -->
            <td class="col-md-1 text-center button-icons">

                <a ui-sref="admin/agente/edit({id: element.id})" class="button glyphicon glyphicon-pencil"
                   title="{{'admin.form.button.edit' | translate}}"></a>

                <a ng-click="ctrl.showRemoveConfirmation(element.id)" class="button glyphicon glyphicon-remove"
                   title="{{'admin.form.button.delete' | translate}}"></a>
            </td>
        </tr>
    </table>


    <div id="funciones" class="tab-pane fade">
        <funcion-agente-list-admin></funcion-agente-list-admin>
    </div>
</div>

</div>


<loading is-loading="ctrl.loading" class="center-block"></loading>



